nav {
    width: 100%;
    height: 40px;
    background-color: red;
}

.menu{
    float: right;
    margin: auto;
    height: 40px;
    width: 70px;
    padding: auto;
    /* background-color: white; */
}

a {
    text-decoration: none;
}

#googlekutusu{
    width: 100%;
    background-color: aqua;
}

#logo {
    width: 272px;
    height: 92px;
}

.clear {
    clear: both;
}

#profil {
    border-radius: 40%;
}