nav {
    width: 100%;
    height: 60px;
    /* background-color: red; */
}

.menu{
    float: right;
    margin: auto;
    height: 60px;
    width: 5%;
    padding: auto;
}

a {
    text-decoration: none;
    color: black
}

#googleuygulama {
    width: 18px;
    margin-left: 17px;
}

#googlekutusu{
    width: 100%;
}

#logo {
    width: 272px;
    height: 92px;
}

.clear {
    clear: both;
}

#profil {
    border-radius: 50%;
    width: 25px;
}

#arama {
    width: 100%;
    height: 200px;
    padding: 0px;
}

#cubuk {
    padding: 0px;
    height: 30px;
    width: 900px;
}

#aramacubuk {
    height: 30px;
    width: 800px;
    font-size: 16px;
    border-radius: 33px;
}

.icon{
    height: 30px;
}


